body {
  font-family: "Inter", sans-serif;
  margin-top: 100px;
  text-align: center;
}

#inputTextArea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  height: 100px;
  width: 500px;
  border: none;
  margin-right: 0px;
  overflow-y: scroll;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.125);
}

#inputArea {
  background-color: rgb(239, 238, 238);
  width: 580px;
  padding: 20px;
  padding-right: 0px !important;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.125);
}

.button {
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  border: none;
  margin-bottom: 10px;
  background-color: rgb(7, 165, 120);
  color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.247);
}

#outputArea {
  margin-bottom: 10px;
  height: 150px;
  font-size: small;
}

#mainArea {
  background-color: rgb(255, 255, 255) !important;
  height: 500px;
}
