<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div id="login">
      <h3 id="title">Login</h3>
      <input id="email" type="text" placeholder="Your Email" />
      <button id="interview">Start interview! ✨</button>
    </div>
    <script>
      document
        .getElementById("interview")
        .addEventListener("click", function () {
          const email = document.getElementById("email").value;
          console.log(email);
          // Send a POST request to the server
          fetch("http://127.0.0.1:8000/validate-email", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email: email }),
          })
            .then((response) => response.json())
            .then((data) => {
              // Redirect to the interview page if the server allows it
              if (data.valid == "true") {
                console.log("valid");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
