<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div id="login">
      <h3 id="title">Login</h3>
      <input id="email" type="text" placeholder="Your Email" />
      <button id="interview">Start interview! ✨</button>
    </div>
    <script>
      document
        .getElementById("interview")
        .addEventListener("click", function () {
          const email = document.getElementById("email").value;
          const formData = new FormData();
          formData.append("email", email);
          console.log(email);
          try {
            fetch("/validate-email", {
              method: "POST",
              body: formData,
            })
              .then((response) => {
                return response.json();
              })
              .then((data) => {
                if (data.message != "Invalid") {
                  window.location.href = "http://127.0.0.1:8000/interview";
                } else {
                  alert("invalid");
                }
              });
          } catch (error) {
            console.error("Error:", error);
          }
        });
    </script>
  </body>
</html>
