<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interviewing Bot</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>Interviewer Assistant</h1>
    <div id="mainArea">
    <div id="outputArea">
      <h4>Assistant</h2>
      <div id="outputTextArea">Can you tell me about yourself.</div>
    </div>
    <div id = "inputArea">
      <textarea id ="inputTextArea"></textarea>
      <div id="buttonContainer">
      <button class="button" id="recordButton">Record</button>
      <button class= "button" id="submitButton">Submit</button>
    </div>
      </div>
      </div>
      <script src="/static/js/script.js"></script>
</html>
